

.avatar-default{
  width: 90%;
  height: 81%;
  border-radius: 100%;
  position: relative;
  top:10px;
}


.data-user{
  position: relative;
  top:30px;
}


.unFollow{
  background-color: red;
}


.followbutton{
  background-color:rgb(63, 209, 63);
}
