.data-user{
  background-color: #fff;
  padding:0.8rem;
}

.strong-text{
  color:#000;
}

.publication{
  color:rgb(119, 119, 119);
}

.date{
  color:rgb(155, 150, 150);
  font-size:0.8rem;
}

.sidebar{
  position: relative;
  right:40px;
  bottom:8px;
}

@media (max-width:3000px){
  .sidebar{
    position: relative;
    right:220px;
    bottom:8px;
    width: 22%;
  }
}

@media (max-width:2000px){

  #publications{
    right:220px;
  }

  .sidebar{
    position: relative;
    right:140px;
    bottom:8px;
    width: 31%;
  }

}

@media (max-width:1300px){




  .sidebar{
    position: relative;
    right:90px;
    width: 33%;
  }

}

@media (max-width:1000px){


  .sidebar{
    display: none;
  }

}

@media (max-width:990px){

  .sidebar{
    display: none;
  }

}

@media (max-width:700px){


  .sidebar{
    display: none;
  }

}

@media (max-width:500px){

  .sidebar{
   display:none;
  }
}
